 <!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

    <!-- TankID Column
    <ng-container matColumnDef="tank_id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.tank_id}} </td>
    </ng-container>-->

    <!-- NationColumn --
    <ng-container matColumnDef="nation">
      <th mat-header-cell *matHeaderCellDef> Nation </th>
      <td mat-cell *matCellDef="let element"> {{element.nation}} </td>
    </ng-container>

    <-- Tier Column --
    <ng-container matColumnDef="tier">
      <th mat-header-cell *matHeaderCellDef> Tier </th>
      <td mat-cell *matCellDef="let element"> {{element.tier}} </td>
    </ng-container>

    <-- Name Column --
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <-- Icon Column --
    <ng-container matColumnDef="big_icon">
      <th mat-header-cell *matHeaderCellDef> Icon </th>
      <td mat-cell *matCellDef="let element"> <img src="{{element.big_icon}}">  </td>
    </ng-container>

    <-- Type Column --
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <-- Desc Column --
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <-- Armor Column --
    <ng-container matColumnDef="armor">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.armor}} </td>
    </ng-container>

    <-- Gun Column --
    <ng-container matColumnDef="gun_name">
      <th mat-header-cell *matHeaderCellDef> Gun </th>
      <td mat-cell *matCellDef="let element"> {{element.gun_name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>-->


<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div >
      <div >
        <div class="card user-card-full">
          <div class="pad">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 6bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25"> <img src="{{currTank['big_icon']}}" class="img-radius" alt="Tank_ICon"> </div>
                <div class="padding">
                  <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="6" [(ngModel)]="currTank['description']"> </textarea>
                </div>
              <!--  <h3 class="Name">{{currTank['name']}}  </h3> -->
              </div>

            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <!--<h3 class="m-b-20 p-b-5 b-b-default f-w-600">{{currTank['name']}}</h3>-->
                <p class="m-b-10 f-w-600">Name</p>
                <input type="text" class="m-b-20 p-b-5 b-b-default f-w-600" [(ngModel)]="currTank['name']">
                <div class="row">
                  <div class="col-sm-7">
                    <p class="m-b-10 f-w-600">Nation</p>
                    <!--<h3 class="text-muted f-w-400">{{currTank['nation']}}</h3>-->
                    <input type="text" class="text-muted f-w-400" [(ngModel)]="currTank['nation']">
                  </div>

                  <div class="col-sm-7">
                    <p class="m-b-10 f-w-600">Type</p>
                    <!--<h3 class="text-muted f-w-400">{{currTank['type']}}</h3>-->
                    <input type="text" class="text-muted f-w-400" [(ngModel)]="currTank['type']">
                  </div>
                </div>
                <!--<h3 class="text-muted f-w-600">Tier: {{currTank['tier']}}</h3>-->


                  <div class="col-sm-7">
                    <p class="m-b-10 f-w-600">Gun</p>
                    <!--<h3 class="text-muted f-w-400">{{currTank['gun_name']}}</h3>-->
                    <input type="text" class="text-muted f-w-400" [(ngModel)]="currTank['gun_name']">
                  </div>

                  <div class="row">
                    <div class="col-sm-2">
                      <button class="btn btn-secondary btn-sm" (click)="updateCurrentVehicle()">Szerkesztés</button>
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-secondary btn-sm" (click)="deleteCurrentVehicle()">Törlés</button>
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-secondary btn-sm" (click)="createVehicle()">Hozzáadás Újként</button>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>



<!-- ['tank_id', 'nation', 'tier', 'name', 'big_icon', 'type', 'description', 'armor', 'gun_name'];
 <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Hull armor</p>
                    <h3 class="text-muted f-w-400">{{currTank['armor']}}</h3>
 </div>


 -->
