.view {
  padding: 25px;
}
table {
  width: 100%;
  justify-content: center;
  align-items: center;
}

tr.mat-row:hover{
  background: whitesmoke;

}
.btn {
  width: 100%;
  justify-content: center;
}
h2 {
  text-align: center;
}
